body,
html {
  width: 100%;
  height: 100%;
    padding: 0;
}

body {
    color: white;
    background-color: black;
  font-family: 'Montserrat', sans-serif;
    background-image: url('header.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}


.row{
    /*text-align: center;*/ 
    /*transform: scale(1.05);*/
}

.col{
    position: relative;
}

 .btn-md {
	background-color: #f15117;
    border-radius: 200px;
    /*font-size: 100%;*/
}

.btn-md:hover{
    background-color: #f15137;
    border-color: #f15137;
    transform: scale(1.05);
    cursor: pointer;
}

div .head hr {
    position: fixed;
	width: 100px;
    border: 2px solid #f15117;
    color: #f15117;
    top:50%;
    margin-top: 88px;
    left: 50%;
    margin-left: -45px;
    /*left: 50%;*/
    /*top: 50%;
    left: 50%;
    margin-top: 85px;
    margin-left: -38px;*/
    
}


.head {
    /*top: 50%;
    left: 50%;
    margin-left: -277px;
    margin-top: -150px;*/
}

 div.action input {
     position: fixed;
	/*top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: 135px;*/
     top: 50%;
     margin-top: 130px;
     left: 50%;
     margin-left: -76px;
     
    
     
}

div.head h4{
    opacity: 0.8;
    white-space: nowrap;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -265px;
}
